@font-face {
  font-family: bariol;
  src: url(../bariol_regular-webfont.ttf);
}

body {
  font-family: bariol;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #295a83;
}

#chatbackAcc {
    float: right;
}

#chatbacknav {
  float: left;
  font-size: 18px;
  color: white;
}

#chatbackIcon2 {
  width: 20px;
  height: 15px;
  margin-bottom: 5px;

}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

#chatbackHead {
  text-align: center;
}

#subheader {
  color: #8bacbd;
}

#pageMain {
  margin-top: 1em;
  font-size: 125%;
  padding-bottom: 4em;
}

#chatbackIcon {
  width: 60px;
  height: 50px;
  margin-bottom: 10px;
  color: white;
}

#chat {
  float: left;
  padding: 3em;
  height: 50%;
  width: 50%;
}

#about {
  padding-top: 1em;
  text-align: center;
}

#chatbackAbout {
  font-size: 42px;
}

#chat2, #database {
  float: right;
  padding: 3em;
  height: 50%;
  width: 50%;
}

#about2 {
  padding-top: 5em;
}

#chatback, #padlock, #research {
  float: left;
  width: 35%;
  height: 35%;
  margin-left: 6em;
  padding: 3em;
}

#chatbackTitle {
  font-size: 48px;
}

#chatbackform {
  padding-top: 5em;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #295a83;
}

#footer p {
  float: right;
  color: white;
}

#footer {
  padding-top: 0.5em; 
}

#footer a {
  padding: 2em;
  color: white;
  font-size: 125%;
}

#buttons {
  padding: 1em;
}

#headshot {
  width: 225px;
  height: 225px;
  padding: 1em;
}

#icon {
  width: 40px;
  height: 30px;
}

#contact {
  text-align: center;
  padding-bottom: 3em;
}

#contactTitle {
  padding-top: 1em;
  font-size: 40px;
}

#developers figure {
  display: inline-block;
}

#concept {
  padding-bottom: 1em;
}

#concept h2 {
  color: #295a83;
}

#concept a {
  color: gray;
}

#developers {
  padding: 1em;
}

#developers h2 {
  color: #295a83;
}

#developers a {
  color: gray;
}

#chatbackHowTo {
  max-height: 455px;
}

#chatbackProfile {
  font-size: 42px;
  text-align: center;
}

