#nav {
  text-align: center;
}

#nav button {
  float: right;
  margin-top: 1em;
  margin-right: 1em;
}

#subheader {
  color: #ff9c18;
}

#main {
  float: left;
  margin-top: 1em;
  font-size: 125%;
  color: gray;
}

h1 {
  font-size: 400%;
}

p {
  font-size: 125%;
}

#chat {
  float: left;
  padding: 3em;
  height: 50%;
  width: 50%;
}

#about {
  padding-top: 5em;
}

#chat2 {
  float: right;
  padding: 3em;
  height: 50%;
  width: 50%;
}

#about2 {
  padding-top: 5em;
}

#chatback {
  float: left;
  width: 35%;
  height: 35%;
  margin-left: 6em;
  padding: 3em;
}

#chatbackform {
  padding-top: 5em;
}

#footer a {
  font-size: 125%;
  padding: 1em;
  margin-left: 3em;
  color: gray;
}

#footer p {
  float: right;
  padding: 3em;
}
