<div id="about"> 
	<h1 id="chatbackAbout">About ChatBack</h1>
	<img id="chat" src="../img/chatting.jpg">
	<div class="container" id="about">
	    <p>ChatBack is texting a game that allows users to share insight and mindfulness with one another.</p>
	</div>    
	           
	<img id="chat2" src="../img/chat2.jpg">
	<div class="container" id="about2">
	    <p>ChatBack keeps user's privacy safe so they feel comfortable talking about how they feel and give their true insight to each other.</p>
	</div> 

	<img id="chatback" src="../img/chatbackForm.png">
	<div class="container" id="chatbackform">
	    <p>By following this initial prompt, you can tell how you feel, gain insight, and tell each other what you hope the outcome will be or what you want to change for yourself.</p>
	</div>
</div>