<div id="contact">
	<h1 id="contactTitle"><i>"Have feedback for us? Reach out!"</i></h1>
	<div class="container" id="concept">
		<h2>Concept Feedback</h2>
		<figure>
			<img id="headshot" src="img/katieheadshot.png">
			<figcaption><b>Katie O'Leary</b><br><img id="icon" src="../img/mail.png"><a href="mailto:katieole@gmail.com"> katieole@gmail.com</a></figcaption>
		</figure>
	</div>

	<div class-"container" id="developers">
		<h2>Website Development Feedback</h2>
		<figure>
			<img id="headshot" src="img/michaelheadshot.png">
			<figcaption><b>Michael Nguyen</b><br><img id="icon" src="../img/mail.png"> <a href="mailto:nguyemic@uw.edu">nguyemic@uw.edu</a></figcaption>
		</figure>
		<figure>
			<img id="headshot" src="img/masonheadshot.png">
			<figcaption><b>Mason Shigenaka</b><br><img id="icon" src="../img/mail.png"><a href="mailto:mshig19@uw.edu"> mshig19@uw.edu</a></figcaption>
	  	</figure>
	  	<figure>
			<img id="headshot" src="img/tabiheadshot.png">
			<figcaption><b>Tabitha Kim</b><br><img id="icon" src="../img/mail.png"><a href="mailto:tabikim@uw.edu"> tabikim@uw.edu</a></figcaption>
		</figure>
	</div>
</div>