<div class="container">
	<img id="padlock" src="../img/padlock.png">
	<div class="container" id="privacy1">
		<h2>Summary</h2>
		<p>It is important to note that this website is used for research testing and showcasing due to security and legal concerns but that should not stop you from trying out the application.</p>
	    <p>ChatBack understands that the topics that are discussed through chats can be very personal. We want to let our users know that we are doing what we can to make their data private, safe, and most importantly, anonymized. If you ever have any concerns, feel free to reach out to us through our contacts page.</p>
	</div>    
	           
	<img id="database" src="../img/database.png">
	<div class="container" id="about2">
	    <p>ChatBack stores all of it's user and chat data securly on Firebase. Only administrators have access to the Firebase application and we make sure proper security rules are set on Firebase to keep user data private.</p>
	    <p>ChatBack stores very little personal data. we only store a user's email and password and all chat data that is collected is identified by the current userID which, is not linked to the user, the only reason we store an email and password is for authentication purposes.</p>
	</div> 

	<img id="research" src="../img/research.jpg">
	<div class="container" id="chatbackform">
	    <p>The data collected by ChatBack is used only for research and is not for sale. We will not sell or solicite any of your data. The data that is collected will be anonymized when it is collected and analyzed so it cannot be traced back to you.</p>
	</div>
</div>